@tailwind base;
@tailwind components;
@tailwind utilities;

/* css variables */

:root {
  --primary: #5048e5;
  --white: #fdfdff;
  --black: #111827;
  --primary-text-color: #babec5;
  --secondary-text-olor: #5a5f6a;
  --bg-color: '#ffffff';
}

@layer components {
  .heading {
    @apply text-[var(--black)] text-3xl font-bold;
  }
  .sub-heading {
    @apply text-[var(--primary-text-color)] text-sm font-bold;
  }
  .label {
    @apply text-[var(--primary-text-color)] text-lg;
  }
  .active-label {
    @apply text-[var(--primary)] text-sm font-bold border-b-2 border-[var(--primary)]
  }
  .paragraph {
    @apply text-[var(--primary-text-color)] text-[10px];
  }
  .inputs {
    @apply p-2 rounded-[6px] border border-[var(--primary-text-color)] 
  }
  .btn-active {
    @apply bg-[var(--primary)] text-[var(--primary-text-color)] rounded-[6px]  font-bold text-sm justify-items-center  border-2 px-6 py-3 hover:bg-[var(--primary)] drop-shadow-sm;
  }
  .btn-inactive {
    @apply text-[var(--primary)] 
  }
}
